<p>view-employees works!</p>
<button (click)="createNewEmployee()">Create New Data</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th  scope="row">1</th>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        <td>Action</td>
      </tr>
      
    </tbody>
  </table>